nav{
    background-color: rgb(0, 184, 153);
    height: 6vh;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

footer{
    padding-top: 0;
    text-align: right;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration:underline;
    color: inherit;
}

a.home, a.home:hover{
    text-decoration: none;
    color: inherit;
}

button.btn.btn-primary, button.btn.btn-primary:focus{
    background-color: rgb(0, 184, 153) !important;
    box-shadow: none !important;
    border-color: rgb(0, 184, 153) !important;
}

button.btn.btn-danger, button.btn.btn-danger:focus{
    background-color: rgb(253, 92, 92) !important;
    box-shadow: none !important;
    border-color: rgb(253, 92, 92) !important;
}

button.btn.btn-secondary, button.btn.btn-secondary:focus{
    background-color: rgb(253, 197, 92) !important;
    box-shadow: none !important;
    border-color: rgb(253, 197, 92) !important;
}

.container{
    padding-bottom: 5px;
}

footer{
    background-color: rgb(0, 184, 153) !important;
    height: 5vh;
}

#foot{
    margin-top: 10px;
    margin-right: 10px;
}

.d-block{
    height: 50vh;
}