{% extends 'base.html' %} {% block content %}

<h1>{{ boat.name }}</h1>

<div class="card">
    <div class="card-content">
        <p>Number of Drivelines: {{ boat.get_num_engines_display }}</p>
        <p>Engine: {{ boat.get_engine_display }}</p>
        <p>Drive: {{ boat.get_drive_type_display }} </p>
        <p>Generator: {{ boat.generator }} </p>
        <p>Year: {{ boat.year }} </p>
        <p>Hours: {{ boat.hours }} </p>
    </div>
    <div class="card-action">
        <a href="{% url 'boat_update' boat.id %}">Edit</a>
        <a href="{% url 'boat_delete' boat.id %}">Delete</a>
    </div>
</div>

{% endblock %}