{% extends 'base.html' %} {% block content %}
<h1>Boat List</h1>

{% for boat in boats %}
<div class="card">
    
        <div class="card-content">
            <span class="card-title">{{ boat.name }}</span>
            <p>Brand: {{ boat.brand }} {{ boat.length }}</p>
            <p>Engine: {{ boat.engine }}</p>
            <p>Drive: {{ boat.drive }} </p>
            <p>Generator: {{ boat.generator }} </p>
            <p>Year: {{ boat.year }} </p>
        </div>

</div>
{% endfor %}
{% endblock %}